.main-wrapper {
  background: linear-gradient(
    180deg,
    rgba(186, 176, 161, 1) 0%,
    rgba(158, 151, 141, 1) 27%,
    rgba(140, 119, 102, 1) 54%,
    rgba(94, 63, 53, 1) 75%,
    rgb(91 70 50) 100%)  ;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  gap: 20vh;
}


.hero {
  scroll-margin-top: 120px;
  background-color: #5e3f35;
  display: flex;
  gap: 39px;
  min-height: 560px;
  height: auto;
  position: relative;
  width: 90%;
  margin-inline: auto;
  overflow: visible;
}

.projects {
  padding-top: 10vh;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 105px;
  height: fit-content;
  padding-left: 116px;
  width: fit-content;
}

.cards {
  display: flex;
  gap: 85px;
  width: fit-content;
}

.mobile .cards{
  width: 80vw;
  flex-direction: column;
  align-items: center;

}

.card-instance {
  display: flex;
  flex-direction: column;
  align-items:start;
  color: black;
  background-color: rgba(186, 176, 161, 1);
  left: unset !important;
  top: unset !important;
  box-shadow: 8px 8px 7px rgba(0, 0, 0, 0.25);
  width: 320px;
  cursor: pointer;
}

.img {
  aspect-ratio: 1;
  height: 148px;
  object-fit: cover;
  position: relative;
  width: 148px;
}


.stats {
  position: relative;
  display: flex;
  gap: 129px;
  height: fit-content;
  padding-left: 113px;
  width: 947px;
}


.p {
  color: #271c11;
  font-family: var(--main);
  font-size: 36px;
  font-weight: 400;
  height: 45px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 5px;
  width: 522px;
}



@media (min-width:1800px) {
  .hero{
    scroll-margin-top: 140px !important;
  }
}


@media (min-width: 768px) and (max-width: 860px) {
  .hero{
  min-height: 30vh !important;
 }
 }

@media (min-width: 860px) and (max-width: 1044px) {
  .hero{
  min-height: 34vh !important;
 }
}

@media (max-width: 1250px){
  .stats{
    flex-direction: column;
    gap: 13vh !important;
    padding-left: 9vw !important;
  }

}

@media (max-width: 1044px){
  .projects{
  left: 50%;
  transform: translateX(-50%);
  padding-left: 0 !important;
 }

}

@media (max-width: 768px) {
  .hero{
  min-height: 20vh !important;
  height: auto !important;  
}
  .cards{
    flex-direction: column;
  }

  .main-wrapper{
    gap: 15vh !important;
  }

.projects{
  width: 100vw !important;
  align-items: center;
}

}

@media (max-width: 420px) {
  .hero{
  min-height: 15vh !important;
}
  .stats{
    padding-left: 2vw !important;
  }

}