.desktop {
  background: linear-gradient(
    180deg,
    rgba(186, 176, 161, 1) 0%,
    rgba(158, 151, 141, 1) 27%,
    rgba(140, 119, 102, 1) 54%,
    rgba(94, 63, 53, 1) 75%,
    rgb(91 70 50) 100%)  ;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  gap: 20vh;
}

.desktop .nav-bar {
  height: 41px;
  left: 723px;
  width: fit-content;
  z-index: 5;
  display: flex;
  gap: 5vw;
  font-size: 2vw;
  color: #271c11;
}

.desktop .nav-item{
  cursor:pointer ;
  text-decoration: none;
  transition: 0.2;
  margin: 10px;
}

.nav-item:hover{
  text-decoration: underline !important;
}

.desktop .logo {
  height: fit-content;
  left: 3vw;
  position: absolute;
  top: 1vh;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.desktop .my-name {
  color: #271c11;
  font-family: var(--main);
  font-size: 64px;
  font-size: clamp(32px, 7vw, 56px);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  width: fit-content;
}

.desktop .frontend-developer {
  color: #271c11;
  font-family: var(--regular);
  font-size: 32px;
  font-size: clamp(16px, 3vw, 26px);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  width: fit-content;
}

.hero {
  background-color: #5e3f35;
  display: flex;
  gap: 39px;
  min-height: 560px;
  height: auto;
  position: relative;
  width: 90%;
  margin-inline: auto;
  overflow: visible;
}

.about{
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: var(--regular);
  text-align: left;
  font-size: 2.3vw;
  line-height: 1.2;
  gap: 15px;
  z-index: 2;
  width: 50vw;
  padding-bottom: 2vh;
 padding-top: 2vh;  
 padding-left: 2vw;
  color: #d7cfc4;
}

.actions{
  padding-top: 4vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4vw;
}

.desktop .cookie-text{
  font-family: var(--main);
  color: rgb(255 195 195);
  padding-top: 5.5vh;
  font-size: 2.1vw;
}

.cookie {
  width: 170px;
  display: block;
  transform: translateZ(0);
  backface-visibility: hidden;
  will-change: transform;
}

.float-wrapper {
  position: absolute;
  z-index: 5;
  top: 48%;
  left: 43%;
  animation: floatCircle 5s ease-in-out infinite;
}

.cookie:hover {
  transform: scale(1.05);
}

@keyframes floatCircle {
  0% {
    transform: translate3d(0, 0, 0);
  }

  25% {
    transform: translate3d(4px, -8px, 0);
  }

  50% {
    transform: translate3d(0, -12px, 0);
  }

  75% {
    transform: translate3d(-4px, -8px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.desktop .frame {
  align-items: center;
  background-color: #8c7766;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.desktop .let-s-talk {
  color: #271c11;
  font-family: var(--main);
  font-size: clamp(0.5rem, 2vw, 2rem);  
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
  text-decoration: none;
  white-space: nowrap;
  margin: 0.3em;

}

.desktop .frame:hover{
  background-color: #b39781;
}

.desktop .download-text {
  color: #bab0a1;
  font-family: var(--regular);
  font-size: clamp(0.55rem, 2vw, 1.8rem);  
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  width: fit-content;
  white-space: nowrap;
}

.desktop .download-text:hover{
  color: #ffffff;

}

.desktop .projects {
  padding-top: 10vh;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 105px;
  height: fit-content;
  padding-left: 116px;
  width: fit-content;
}

.desktop .cards {
  display: flex;
  gap: 85px;
  width: fit-content;
}

.mobile .cards{
  width: 80vw;
  flex-direction: column;
  align-items: center;

}

.desktop .card-instance {
  display: flex;
  flex-direction: column;
  align-items:start;
  color: black;
  background-color: rgba(186, 176, 161, 1);
  left: unset !important;
  top: unset !important;
  box-shadow: 8px 8px 7px rgba(0, 0, 0, 0.25);
  width: 320px;
  cursor: pointer;
}


.characterText{
  color:#d7cfc4;
  font-size: 2vw;
}

.desktop .img {
  aspect-ratio: 1;
  height: 148px;
  object-fit: cover;
  position: relative;
  width: 148px;
}


.desktop .stats {
  position: relative;
  display: flex;
  gap: 129px;
  height: fit-content;
  padding-left: 113px;
  width: 947px;
}


.desktop .p {
  color: #271c11;
  font-family: var(--main);
  font-size: 36px;
  font-weight: 400;
  height: 45px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 5px;
  width: 522px;
}

.character{
  position: absolute;
  z-index: 2;
  width: 38vw;
  bottom: -0.5vh;
  right: 2vw;
}


@media (min-width: 768px) and (max-width: 860px) {
  .character{
    width: 48vw !important;
    right: -3vw !important;
  }
  .hero{
  min-height: 30vh !important;
 }
 }

@media (min-width: 860px) and (max-width: 1044px) {
  .character{
    width: 45vw !important;
    right: -3vw !important;
  }
  .hero{
  min-height: 34vh !important;
 }
}

@media (min-width: 1045px) and (max-width: 1250px) {
  .character{
    width: 48vw !important;
    right: -2vw !important;
  }
}

@media (max-width: 1250px){
  .stats{
    flex-direction: column;
    gap: 13vh !important;
    padding-left: 9vw !important;
  }

  .characterText{
  font-size: 2.7vw !important;
}
}

@media (max-width: 1044px){
  .projects{
  left: 50%;
  transform: translateX(-50%);
  padding-left: 0 !important;
 }

 .cookie{width: 140px;}

}

@media (max-width: 768px) {
  .hero{
  min-height: 20vh !important;
  height: auto !important;  
}
  .cards{
    flex-direction: column;
  }

  .desktop{
    gap: 15vh !important;
  }

  .about{
    gap: 6px !important;
    padding-top: 0.5vh !important;
  }

  .character{
    right: 0vw !important;
    bottom: 0vw !important;
    width: 38vw !important;
  }

   .cookie-text {
    padding-top: 1.5vh !important;
   }

   .actions{
    padding-top: 1vh !important;
   }
.cookie{width: 81px;}

.projects{
  width: 100vw !important;
  align-items: center;
}

.contact-character{
  width: 19vw !important;
}

}

@media (max-width: 420px) {
  .character{
    width: 44vw !important;
    right: -2vw !important;
  }
  .hero{
  min-height: 15vh !important;
}
  .about{
    padding-bottom: 0.5vh !important;
  }

  .cookie{width: 56px;}


  .stats{
    padding-left: 2vw !important;
  }


}