.desktop {
  background: linear-gradient(
    180deg,
    rgba(186, 176, 161, 1) 0%,
    rgba(158, 151, 141, 1) 27%,
    rgba(140, 119, 102, 1) 54%,
    rgba(94, 63, 53, 1) 75%,
    rgb(91 70 50) 100%)  ;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  gap: 20vh;
}

.desktop .nav-bar {
  height: 41px;
  left: 723px;
  width: fit-content;
  z-index: 5;
  display: flex;
  gap: 5vw;
  font-size: 2vw;
  color: #271c11;
}

.desktop .nav-item{
  cursor:pointer ;
}

.navigation{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 10px 30px 0 30px;
}

.desktop .logo {
  height: 113px;
  left: 60px;

  width: 491px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.desktop .div {
  color: #271c11;
  font-family: var(--main);
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  width: fit-content;
}

.desktop .frontend-developer {
  color: #271c11;
  font-family: var(--regular);
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  width: fit-content;
}

.desktop .hero {
  background-color: #5e3f35;
  display: flex;
  gap: 39px;
  height: 556px;
  position: relative;
  width: 90%;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: visible;

}

.desktop .about{
  display: flex;
  flex-direction: column;
  font-family: var(--regular);
  text-align: left;
  font-size: 2.3vw;
  line-height: 1.2;
  gap: 15px;
  z-index: 2;
  width: 50vw;
  top: 2vh;
  left: 2vw;
  color: #d7cfc4;
}

.desktop .cookie-text{
  font-family: var(--main);
  color: rgb(255 195 195);
  margin-top: 5.5vh;
  font-size: 2.1vw;
}

.desktop .cookie{
  position: absolute;
  z-index: 5;
  width: 15vw;
  transition: transform 0.3s ease;
}

.float-wrapper {
  position: absolute;
  z-index: 5;
  top: 38vh;
  right: 52vw;
  animation: floatCircle 5s ease-in-out infinite;
}

.cookie:hover {
  transform: scale(1.05);
}

@keyframes floatCircle {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  25% {
    transform: translate(6px, -8px) rotate(2deg);
  }

  50% {
    transform: translate(0px, -12px) rotate(0deg);
  }

  75% {
    transform: translate(-6px, -8px) rotate(-2deg);
  }

  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

.desktop .frame {
  align-items: center;
  background-color: #8c7766;
  border-radius: 30px;
  display: flex;
  gap: 10px;
  height: 58px;
  justify-content: center;
  margin-left: 67px;
  margin-top: 444px;
  position: relative;
  width: 229px;
}

.desktop .let-s-talk {
  color: #271c11;
  font-family: var(--main);
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
  text-decoration: none;

}

.desktop .frame:hover{
  background-color: #b39781;
}

.desktop .download-text {
  color: #bab0a1;
  font-family: var(--regular);
  font-size: 32px;
  font-weight: 400;
  height: 53px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 449px;
  text-decoration: underline;
  width: 302px;
}

.desktop .download-text:hover{
  color: #ffffff;

}

.desktop .projects {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 105px;
  height: 574px;
  left: 116px;
  width: 805px;
}

.desktop .cards {
  display: flex;
  gap: 85px;
  width: 803px;
}

.desktop .card-instance {
  display: flex;
  flex-direction: column;
  align-items:start;
  color: black;
  background-color: rgba(186, 176, 161, 1);
  left: unset !important;
  top: unset !important;
  box-shadow: 8px 8px 7px rgba(0, 0, 0, 0.25);
  width: 320px;
  cursor: pointer;
}


.desktop .contact {
  position: relative;
  height: fit-content;
  left: 113px;
  width: fit-content;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.desktop .characterSeat{
  width: 30vw;
}

.contactCharacter{
  position:relative;
  bottom: 20vh;
  left: -12vw;
  display: flex;
  align-items: center;

}

.characterText{
  color:#d7cfc4;
  font-size: 2vw;
}

.desktop .img {
  aspect-ratio: 1;
  height: 148px;
  object-fit: cover;
  position: relative;
  width: 148px;
}


.desktop .stats {
  position: relative;
  display: flex;
  gap: 129px;
  height: 143px;
  left: 113px;
  width: 947px;
}


.desktop .p {
  color: #271c11;
  font-family: var(--main);
  font-size: 36px;
  font-weight: 400;
  height: 45px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 5px;
  width: 522px;
}

.character{
  position: absolute;
  z-index: 2;
  width: 38vw;
  bottom: -0.5vh;
  right: 2vw;
}
